<div class="px-1 py-2 my-2 text-center">
    <h1 class="display-1">Turnos</h1>
    <ng-container *ngIf="!filtrarProfesional && !filtrarEspecialidad">
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">

            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="botonimagen imagenEspecialidad" (click)="irEspecialidad()">Turno Por Especialidad</button>
                <button type="button" class="botonimagen imagenProfesional" (click)="irProfesional()">Turno Por Profesional</button>
            </div>
        </div>
    </ng-container>



    <ng-container *ngIf="filtrarProfesional">
        <app-filtrar [tipoFiltrado]="'profesional'"></app-filtrar>
    </ng-container>
    <ng-container *ngIf="filtrarEspecialidad">
        <app-filtrar [tipoFiltrado]="'especialidad'"></app-filtrar>
    </ng-container>
    

</div>