<div class="px-1 py-2 my-2 text-center">
    <h1 class="display-1">Solicitar Turnos</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"></p>

        <ng-container *ngIf="mostrarEspecialistas">
            <div class="container d-flex justify-content-between align-items-center justify-content-center flex-wrap">
                <div class="usuario-rapido" *ngFor="let usuario of usuarios" (click)="seleccionarEspecialista(usuario)">
                    <ng-container *ngFor="let imagen of imagenes">
                        <!-- Verificar si el usuario coincide con la imagen -->
                        <ng-container *ngIf="usuario.mail === imagen.emailEspecialista">
                            <div class="usuario-info">
                                <span>{{ usuario.nombre+' '+usuario.apellido }}</span>
                                <img [src]="imagen.urlImagen" alt="Imagen de perfil" class="img-fluid" />
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="mostrarEspecialidades">

            <div class="container d-flex justify-content-between align-items-center justify-content-center flex-wrap">
                <div class="usuario-rapido" *ngFor="let especialidad of especialidadesDelEspecialista"
                    (click)="seleccionarEspecialidad(especialidad)">
                    <ng-container *ngFor="let imagen of imagenes">
                        <!-- Verificar si el usuario coincide con la imagen -->
                        <ng-container *ngIf="especialidad === imagen.nombreEspecialidad">
                            <div class="usuario-info">
                                <span>{{ especialidad }}</span>
                                <img [src]="imagen.urlImagen" alt="Imagen de perfil" class="img-fluid" />
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="mostrarGrillaTurnos">
            <app-grilla-turnos [especialista]="especialistaSeleccionado"
              [especialidad]="especialidadSeleccionada"></app-grilla-turnos>
          </ng-container>

    </div>
</div>