<div class="px-1 py-2 my-2 text-center">
    <h1 class="display-1">Mis Turnos</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">
                Seleccione el parametro de busqueda del turno y el valor
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <form (submit)="buscarTurnos()">
                    <div class="mb-3">
                        <label for="campoBusqueda" class="form-label">Buscar por campo:</label>
                        <select id="campoBusqueda" class="form-select" (change)="seleccionarCampo($event)" name="campoBusqueda">
                            <option value="dia">Día</option>
                            <ng-container *ngIf="rolSesion==='especialista'">
                                <option value="pacienteEmail">Email del Paciente</option>
                            </ng-container>
                            <ng-container *ngIf="rolSesion==='paciente'">
                                <option value="especialistaEmail">Email del Especialista</option>
                            </ng-container>
                            <option value="especialidad">Especialidad</option>
                            <option value="estado">Estado</option>
                            <option value="atencion.altura">Altura (Atención)</option>
                            <option value="atencion.peso">Peso (Atención)</option>
                            <option value="atencion.temperatura">Temperatura (Atención)</option>
                            <option value="atencion.presionSistole">Presión Sistólica (Atención)</option>
                            <option value="atencion.presionDiastole">Presión Diastólica (Atención)</option>
                            <option value="datosDinamicos">Datos Dinámicos (Atención)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div *ngIf="campoBusqueda === 'datosDinamicos'" class="mb-3">
                            <label for="claveDatoDinamico" class="form-label">Clave del Dato Dinámico:</label>
                            <input type="text" id="claveDatoDinamico" class="form-control"
                                [(ngModel)]="claveDatoDinamico" name="claveDatoDinamico">
                        </div>
                        <label for="valorBusqueda" class="form-label">Valor de Búsqueda:</label>
                        <input type="text" id="valorBusqueda" class="form-control" [(ngModel)]="valorBusqueda"
                            name="valorBusqueda">
                    </div>
                    <!-- Input adicional para la clave del dato dinámico -->

                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>

            </div>
        </div>

        <ng-container *ngIf="turnos.length>0">
            <app-mis-turnos [turnosArray]="turnos" [rolUsuario]="rolSesion"></app-mis-turnos>
        </ng-container>
        <div *ngIf="turnos.length==0" class="alert alert-warning mt-3">
            No se encontraron resultados.
        </div>



</div>