<div class="modal fade" id="descargarExcelTurnos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="descargarExcelTurnos" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centere">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="descargarExcelTurnos">¿Descargar Excel de turnos?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <ng-container *ngIf="turnos.length!==0; else anotherSection">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="descargarExcelTurnos()">Descargar</button>
                </ng-container>
                <ng-template #anotherSection>
                    <div *ngIf="turnos.length === 0" class="alert alert-warning mt-3">
                        Aun no tiene turnos asignados ni finalizados.
                    </div>
                </ng-template>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centere">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Conceder Acceso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="darAcceso()">Dar
                    Acceso</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDisponibilidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalDisponibilidad" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centere">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDisponibilidad">Disponibilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="usuarioSeleccionado">
                    <div class="list-group"
                        *ngFor="let especialidad of usuarioSeleccionado.disponibilidadPorEspecialidad">
                        <li class="list-group-item list-group-item-action active">
                            <strong>Especialidad:</strong> {{especialidad.especialidad}}
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <strong>Dias Atencion:</strong> {{especialidad.diasAtencion}}
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <strong>Inicio Jornada:</strong> {{especialidad.desdeJornada}}
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <strong>Fin Jornada:</strong> {{especialidad.hastaJornada}}
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <strong>Duracion del Turno:</strong> {{especialidad.duracionTurno}}
                        </li>
                    </div>
                </ng-container>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card col-7 mx-auto" *ngFor="let elemento of usuarios">
        <div class="card-header bold">
            {{elemento.nombre+' '+elemento.apellido}}
        </div>
        <div class="card-body">
            <p  >Edad: {{ elemento.edad }}</p>
            <p  >DNI: {{ elemento.dni }}</p>
            <p  >Email: {{ elemento.mail }}</p>
            <ng-container *ngIf="tipoUsuarioFiltrado=='paciente'; else especialistaContent">
                <p  >Obra Social: {{ elemento.obraSocial }}</p>
                <button type="button" (click)="irAEtiqueta()" class="btn btn-outline-dark" (click)="seleccionarPaciente(elemento)">Ver Historia
                    Clinica</button>
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                    data-bs-target="#descargarExcelTurnos" (click)="seleccionarPaciente(elemento)">Descargar Excel Turnos</button>
            </ng-container>
            <ng-template #especialistaContent>
                <ng-container *ngIf="elemento.accesoConcedido===false; else anotherSection">
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" (click)="seleccionarEspecialista(elemento)">Dar
                        Acceso</button>
                </ng-container>
                <ng-template #anotherSection>
                    <ng-container *ngIf="elemento.accesoConcedido===true">
                        <p  >Acceso concedido</p>
                        <img [src]="elemento.accesoConcedido| trueFalse" alt="Imagen según booleano"
                            style="max-width: 30px; width: auto;">
                    </ng-container>
                </ng-template>
                <h3>Especialidades</h3>
                <ul class="list-group">
                    <li *ngFor="let disponibilidad of elemento.disponibilidadPorEspecialidad" class="list-group-item">
                        <p class="mb-1">Especialidad: {{ disponibilidad.especialidad }}</p>
                        <p class="mb-1">Días de atención: {{ disponibilidad.diasAtencion }}</p>
                        <p class="mb-1">Duración del turno: {{ disponibilidad.duracionTurno }} minutos</p>
                        <p class="mb-1">Desde: {{ disponibilidad.desdeJornada }} - Hasta: {{ disponibilidad.hastaJornada
                            }}</p>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
</div>
<div id="historia"></div>

