
  table tr {
    border: 1px solid #e2e2e2;
  }
  
  table th {
    text-transform: capitalize;
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
  }
  
  table th,
  table td {
    text-transform: capitalize;
    padding: 10px 15px;
  }
  
