  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Bienvenido a Clínica Online</h1>
      <h2></h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>¡Bienvenido a Clínica Online!</h3>
              <p>
                Clínica Online ofrece servicios de salud con consultorios y laboratorios. Abierta de lunes a sábado,
                nuestros profesionales atienden a pacientes con turnos solicitados en línea. La duración mínima del turno es
                de 30 minutos, ajustable por especialidad. ¡Descubre más sobre nuestros servicios!
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Lorem<i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->
  </main><!-- End #main -->