  .usuario-rapido {
    width: 70px; /* Ajusta el tamaño según tus necesidades */
    height: 70px; /* Ajusta el tamaño según tus necesidades */
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .usuario-rapido img {
    width: 100%;
    height: auto;
    border-radius: 5px;

  }