.estado-aceptado {
    background-color: #cbe2f7; /* Azul claro para aceptado */
  }
  
  .estado-realizado {
    background-color: #d8f0d8; /* Verde claro para realizado */
  }
  
  .estado-rechazado {
    background-color: #f8d7da; /* Rojo claro para rechazado */
  }
  
  .estado-cancelado {
    background-color: #f8d7da; /* Rojo claro para cancelado */
  }
  
  .estado-pendiente {
    background-color: #e0e0e0; /* Gris para pendiente */
  }
  