<div class="row">
  <div class="col-lg-6 mx-auto">
    <!-- MODAL ESPECIALIDAD POR PROFESIONAL -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Seleccione la especialidad</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action list-group-item-dark"
                *ngFor="let elemento of especialidadesDelProfesional" data-bs-dismiss="modal" (click)="selecionarEspecialidad(elemento);">
                <span >{{elemento}}</span>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL PROFESIONAL POR ESPECIALIDAD -->
    <div class="modal fade" id="modalProfesionalesPorEspecialidad" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Seleccione el profesional</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action list-group-item-dark"
                *ngFor="let elemento of profesionalesPorEspecialidad" (click)="seleccionarProfesionalSegunEspecialidad(elemento)" data-bs-dismiss="modal">
                <span >Profesional: {{elemento.nombre+' '+elemento.apellido}}</span>
              </li>
              
            </ul>
            <ng-container *ngIf="profesionalesPorEspecialidad.length===0">
              <div class="alert alert-warning mt-3">
                No se encontraron resultados.
              </div>
            </ng-container>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


    <ng-container *ngIf="!mostrarGrillaTurnos">

      <h3>Filtrar por {{filtrarPor}}</h3>
      <ng-container *ngIf="filtrarPor==='profesional'">
        <p>Ingrese el nombre {{titulo}}</p>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="busqueda">
          <button type="button" class="btn btn-primary" (click)="buscar()">Buscar</button>
        </div>
      </ng-container>

      <ng-container *ngIf="filtrarPor==='especialidad'">
        <div class="list-group list-group-flush ">
          <div *ngFor="let elemento of especialidades"
            class="list-group-item list-group-item-action list-group-item-light"
            (click)="buscarProfesionalesPorEspecialidad(elemento.especialidad)" data-bs-toggle="modal"
            data-bs-target="#modalProfesionalesPorEspecialidad">
            {{elemento.especialidad}}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="filtrarPor==='profesional'">
        <div *ngIf="resultadosBusqueda.length > 0" class="list-group list-group-flush ">
          <div *ngFor="let elemento of resultadosBusqueda"
            class="list-group-item list-group-item-action list-group-item-light"
            (click)="seleccionarProfesional(elemento);" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            {{elemento.nombre+''+elemento.apellido}}
          </div>
        </div>
      </ng-container>

      <!-- Mensaje si no hay resultados -->
      <div *ngIf="noHayResultados" class="alert alert-warning mt-3">
        No se encontraron resultados.
      </div>
    </ng-container>
    <ng-container *ngIf="mostrarGrillaTurnos">
      <app-grilla-turnos [especialista]="profesionalSeleccionado"
        [especialidad]="especialidadSeleccionada"></app-grilla-turnos>
    </ng-container>
  </div>



</div>